name: Cloud build client to image registry

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main
    paths:
      - "docker/Dockerfile.client"
      - ".github/workflows/ci-client-docker-image.yaml"
      - "packages/client/**"

env:
  DOCKER_IMAGE_TAG: "app-version-v.1.0.0"

jobs:
  setup-build-deploy:
    name: Setup, Build, and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build image
        run: docker build --progress=plain --build-arg APP_TAG_VERSION=${{ env.DOCKER_IMAGE_TAG }} -f ./docker/Dockerfile.client .
